.gitignore
target/
 
######################
# IntelliJ
######################
.idea/
*.iml


# Directories #
out/
build/
**/tmp
test-output/
.gradle/
.factorypath
ScreenShots/

# OS Files #
.DS_Store
 
*.class
*.orig
 
# Package Files #
*.jar
!gradle-wrapper.jar	
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.recommenders/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath

.springBeans

#logs
*.log

.gradle