<?xml version="1.0" encoding="UTF-8"?>
<config>
	<URL>https://svb-founders-dev.janeirodigital.com/login</URL>
	<GoogleExe>C:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe</GoogleExe>
	<GoogleBinary>../controllers/src/main/resources/chromedriver.exe</GoogleBinary>
	<ChromeLinux64>../controllers/src/main/resources/chromedriver_linux64</ChromeLinux64>
	<ChromeLinux32>../controllers/src/main/resources/chromedriver_linux32</ChromeLinux32>
	<FireFoxBinary>../controllers/src/main/resources/geckodriver.exe</FireFoxBinary>
	<IEBinary>../controllers/src/main/resources/MicrosoftWebDriver.exe</IEBinary>
	<PhantomJS>../controllers/src/main/resources/phantomjs.exe</PhantomJS>
	<ParameterFile>../controllers/src/main/resources/ParameterFile.xlsx</ParameterFile>
</config>